.main > p {
  width: 479px;
  height: 45px;
  color: #000;
  font-family: Inter, serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.main2 {
  width: 480px;
  height: 563px;
  color: #000;

  /* CONTENT V1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cap {
  width: 479px;
  height: 45px;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
